Neste primeiro exercício, você trabalhará com o armazenamento e atualização de tabelas, com dados fornecidos por um API. Selecione uma tarefa para aquisição de dados por meio de um API (existe uma lista com Free API sem o uso de key, https://apipheny.io/free-api/). Crie um sistema que obtenha as informações de API e armazene em uma tabela. Este sistema deve ser capaz de adicionar novas informações ao realizar futuras requisições na API. Crie também uma função que armazene apenas se a informação for válida.
Em seguida, faça alguma análise que seja pertinente ao problema escolhido.

OBS: Não use o API Jokes neste exercício.

In [ ]:
import json
import requests
import pandas as pd
import numpy as np


def cria_dataframe(valor):
  dados = pd.DataFrame(valor.json())
  if nacionalidade.upper() in str(dados['country']): 
    return dados
  else: 
    print('Nacionalidade não está na lista de probabilidades...')

In [ ]:
nome = input('Digite um nome:\n')
nacionalidade = input('\nDigite a nacionalidade:\n')
# Essa api retorna a probabilidade de uma pesssoa ser de uma determinada nacionalidade com base em seu nome.
cria_dataframe(requests.get(f'https://api.nationalize.io?name={nome}'))

Digite um nome:
Gustavo

Digite a nacionalidade:
br
0    {'country_id': 'AR', 'probability': 0.179}
1    {'country_id': 'UY', 'probability': 0.074}
2     {'country_id': 'BR', 'probability': 0.07}
3    {'country_id': 'CO', 'probability': 0.069}
4    {'country_id': 'VE', 'probability': 0.069}
Name: country, dtype: object

                                      country     name
0  {'country_id': 'AR', 'probability': 0.179}  Gustavo
1  {'country_id': 'UY', 'probability': 0.074}  Gustavo
2   {'country_id': 'BR', 'probability': 0.07}  Gustavo
3  {'country_id': 'CO', 'probability': 0.069}  Gustavo
4  {'country_id': 'VE', 'probability': 0.069}  Gustavo

Considere agora o API Jokes (https://official-joke-api.appspot.com/random_joke). Adapte o sistema criado no exercício anterior para o uso desta aplicação. Considere que apenas entradas únicas devem ser armazenadas na tabela. Caso o registro seja repetido, sinalize a repetição, ID e o resto de seu conteúdo.

In [178]:
import json
import requests
import pandas as pd

In [177]:
def cria_dataframe(valor):
  dados = pd.DataFrame(valor.json().items())
  dados = dados.set_index(0)
  dados = dados.T
  return dados

In [194]:
def tabela(iteracoes): 
  tabela_final = cria_dataframe(requests.get('https://official-joke-api.appspot.com/random_joke'))
  while iteracoes > 1: 
    dado = cria_dataframe(requests.get('https://official-joke-api.appspot.com/random_joke'))
    tabela_final.append(dado)
    iteracoes -= 1
  return tabela_final

In [195]:
tabela(10)

,id,type,setup,punchline
1,93,general,Did you hear about the Mexican train killer?,He had loco motives